:host {
  height: 100vh;
  height: 100dvh;
  display: block;
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
}
.home__nav {
}
.home__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.home__nav-item a {
  padding: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in;

  @media screen and (min-width: 1024px) {
    &:hover {
      color: var(--black-color);
    }
  }
}
