/* You can add global styles to this file, and also import other style files */

@import url(./assets/reset.scss);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black-color: #161238;
  --dark-blue-color: #28398d;
  --medium-blue-color: #7387c3;
  --light-blue-color: #c6d3fa;
  --light-purple-color: #bcacdb;
  --primary-font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--dark-blue-color);
  color: var(--light-blue-color);

  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 75rem;
  width: 100%;
  padding: 0 1rem;
}
